.toc {
    padding: 10px;
    margin: 15px;
    border: solid 1px $grey-color-light;
    border-radius: 5px;
}
.site-nav .active, .site-footer .active {
    text-decoration: underline;
    color: $active-color;
}
/* tables */
table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}
td {
    padding: 6px 13px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}